<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAargqrlp2gytpr7dIKp9CqcSuAlbf45iY</string>
	<key>GCM_SENDER_ID</key>
	<string>395485601218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ainzelwebsitev2</string>
	<key>PROJECT_ID</key>
	<string>ainzel-website-v2-td5vrt</string>
	<key>STORAGE_BUCKET</key>
	<string>ainzel-website-v2-td5vrt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395485601218:ios:311d87d13a0a28ad0bca5b</string>
</dict>
</plist>